.loginContainer {
  display: grid;
  width: 100vw;
  height: 100vh;
}

.bg-image {
  background-image: url('assets/images/login_page_bg.png');
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  overflow-y: auto;
}

.authWrapper {
  width: auto;
  min-width: 230px;
  overflow: hidden;
  padding: 0 2em;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 480px) {
  .loginContainer {
    grid-template: 1fr / 0.4fr 1fr;
  }

  .authWrapper {
    min-width: 480px;
  }
}
