.dashboard-container {
  height: 100vh;
  display: grid;
  grid-template: 56px 1fr/ 300px 1fr;
}

.header {
  grid-area: 1 / 1 / 1 / span 2;
}

.aside {
  grid-area: 2 / 1 / 3 / 2;
  width: 300px;
}

.main {
  grid-area: 2 / 2 / 3 / 3;
  /* height: 100vh; */
}
