.welcome-text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.welcome-text span {
  white-space: nowrap;
}

.btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}
